  .text-white-border{
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /*-webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;*/
  }

  
  .masthead{
    background: url(../assets/img/background.png);
    background-size: cover;
  }
  .navbar-image{
    width: auto;
    height: auto;
    max-height:40px;
    aspect-ratio: inherit;
  }
  .cover-heading{
    font-family: 'SF_Sports_Night_Alternate';
    font-size: 10em;
    letter-spacing: 6px;
    text-shadow: 5px 2px black;
    -webkit-text-fill-color: #BBFFFF; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
  }
  @font-face{
    font-family: 'SF_Sports_Night_Alternate';
    src: url('../fonts/SF_Sports_Night_Alternate.ttf');
  }
  .bg-primary{
    background-color: #EEEEEE;
  }
  .bg-secondary{
    background-color: #2c3e50  !important; /* #656565 */
  }
  .footer{
    background-color: #2c3e50  !important; /* #656565 */
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #949392;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #949392;
  }
  a {
    color: #949392;
  }
  a:hover {
    color: #949392;
    text-decoration: underline;
  }
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #949392;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #949392;
  }
  .navbar-color{
    background-color: #1a252f !important;
  }

  .portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(148,147,146, 0.9);
  }
  .masthead {
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat; 
    background-size: cover;
  }

  /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
}

.text-description{
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Lato";

}

.text-secondary-title{
  font-size: 2rem;
  font-weight: 300;
  font-family: "Lato";
}

.text-title{
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Lato";
}
  